<div class="contact text-center">
  <h4>OUR TEAM</h4>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/2/005/0a3/281/27080a5.jpg"class="avatar avatar-large">
        <h3>Aurélien</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
       <img src="http://media.licdn.com/mpr/mprx/0_3Y7SZpAZ93AcGTSTT0D-ZY3zn89JGXpT_MU-ZxGoW6Gdj8I3SZxT90nXZSn6TijShgSPB4rR-CCi"class="avatar avatar-large">
        <h3>Guillaume</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/2/005/0a3/281/27080a5.jpg"class="avatar avatar-large">
        <h3>Aurélien</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <img src="http://media.licdn.com/mpr/mprx/0_3Y7SZpAZ93AcGTSTT0D-ZY3zn89JGXpT_MU-ZxGoW6Gdj8I3SZxT90nXZSn6TijShgSPB4rR-CCi"class="avatar avatar-large">
        <h3>Guillaume</h3>
      </div>
    </div>
  </div>
  <h4>CONTACT US</h4>
  <h2>+33 6 42 42 42 42</h2>
  <a href="mailto:contact@ouipharma.fr"><h2>contact@ouipharma.fr</h2></a>
</div>
